<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="true">
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}} |${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="error" fileName="${basedir}/logs/error_${shortdate}.log"
          layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}} |${message} ${exception:format=tostring}" />
    <target xsi:type="Mail"
           name="errorMail"
           layout="${longdate} ${uppercase:${level}} ${callsite:className=true:includeSourcePath=true:methodName=true} ${message}"
           html="true"
           addNewLines="true"
           replaceNewlineWithBrTagInHtml="true"
           encoding="UTF-8"
           subject="Error mail InSync"
           to="tomgensoft@gmail.com"
           from="tomgensoft@gmail.com"
           body="${message} ${exception:format=tostring}"
           smtpUserName="tomgensoft@gmail.com"
           enableSsl="true"
           smtpPassword="tomgen108251"
           smtpAuthentication="Basic"
           smtpServer="smtp.gmail.com"
           smtpPort="587"/>

  </targets>
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="error" />
    <logger name="*" minlevel="Error" writeTo="errorMail" />
  </rules>
</nlog>
